{% extends 'base.html'%}
{% block content %}
<div class="booking-container">
    <h2>{{event.event_title}} on {{event.date}} at {{event.time}}</h2>
    <form action="/bookings/new" method="post">
        <input type="hidden" id="event_id" name="event_id" value="{{event.id}}">
        <label for="customer"> Select Customer</label>
        <select id="customer_id" name="customer_id">
            {% for customer in all_customers %}
            <option value="{{customer.id}}">{{customer.full_name(customer)}}</option>
            {% endfor %}
        </select>
        <input class="button" type="submit" value="Book">
    </form>
    <section>
        <a class="button" href="/customers/new">Create New Customer</a>
        <a class="delete" href="/events/{{event.id}}">Cancel Booking</a>
    </section> 
</div>
{% endblock %}