{% extends 'base.html' %}
{% block content %}
    <h2>All Customers</h2>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in all_customers %}
                    <tr>
                        <th> {{ customer.id }} </th>
                        <td>{{ customer.full_name(customer) }}</td>
                        <td>{{ customer.email }}</td>
                        <td><a href="/customers/{{ customer.id }}">Go to Customer</a>
                        <a href="/customerd/delete">Delete customer</a>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}