/* Universal styles */

.side-bar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #99C1B9 ;

}

header img {
    margin:0;
}

.side-bar li {
    list-style: none;
    padding-top: 15px;

}

.side-bar a {
    text-decoration: none;
    color: #F1E3D3;
}

.side-bar a:hover {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: #D88C9A;
}

.account {
    margin: 10px;
    padding: 5px;
    position: fixed;
    bottom: 2 ;
    background-color: #8E7DBE;
    border-radius: 5px;
    padding: 10px;
}

.account img {
    padding-right: 5px;
}

.account a {
    text-decoration: none;
    color: black;
}

.dashboard-container {
    background-color: #F1E3D3;
    margin-left: 200px;
    margin-bottom: 40px;
    width: 84%;
    min-height: 100%;
    padding: 15px;
    
}

body {
    margin: 0;
}

.footer-container {
    position: fixed;
    background-color: #99C1B9;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

footer {
    text-align: center;

} 

.main-site-container {
    font-family: Montserrat, sans-serif;
}


/* HOME/DASHBOARD STYLE */

.home-dashboard {
    background-color: white;
    max-width: 900px;
    height: 500px;
    border-radius: 5px;
    padding: 10px;
    margin: 100px;

}

.container-for-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.container-for-selection a {
    background-color: #8E7DBE;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.container-for-selection a:hover {
    background-color: #99C1B9;
}

/* EVENTS PAGE STYLES */

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}



.event-card {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    max-height: 400px;
    width: 300px
} 

.event-card h3 {
    flex: wrap;
}

.event-description {
    display:block;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.event-details {
    background-color: #D88C9A ;
    color: white;
    border-radius: 5px;
    margin: 3px;
    padding: 5px;
    display: inline;
}

.event-button {
    background-color: #D88C9A;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    position: sticky;
    
}

.event-button a {
    text-decoration: none;
    color: white;
}

.event-button a:hover {
    color: #8E7DBE;
    text-shadow: #F1E3D3;
    font-size: large;
}

/* CUSTOMER LISTING STYLE */

table {
    border-collapse: collapse;
    margin: 10px;
}

tr {
    border: 2px solid black;
}

th {
    border: 2px solid black;
    padding: 15px;
}

td {
    border: 2px solid black;
    padding: 15px;
}

.view-customer {
    text-decoration: none;
    background-color: #99C1B9;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.view-customer:hover {
    background-color: #8E7DBE;

}

.delete {
    text-decoration: none;
    background-color: #bd4158;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.delete:hover {
    background-color:#D88C9A;

}

/* CUSTOMER VIEW STYLING */

.customer-details {
    display:flex;
    justify-content:space-between;
}

.action-buttons {
    padding: 10px;
    margin: 10px;
}

.customer {
    padding: 10px;
}

.customer h2 {
    font-size: 20px;
}