<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }} - Bookings Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    </head>
    <div class="main-site-container">
        <div class="side-bar">
            <header>
                <h1>Bookings Manager</h1>
            </header>
                <nav>
                <ul>
                    <li>
                        <a href="/">Dashboard</a>
                    </li>
                    <li>
                        <a href="/customers">View Customers</a>
                    </li>
                    <li>
                        <a href="/">Create Customer</a>
                    </li>
                    <li>
                        <a href="/">View Events</a>
                    </li>
                    <li>
                        <a href="/">Create Event</a>
                    </li>
                </ul>
            </nav>
            <div class="account">
                <img src="/static/images/account-profile-logo.png" alt="account logo" height="20px" width="20px">
                <a href="/account">Account</a>
            </div>
        </div>
    <main>
        <div class="dashboard-container">
            {% block content %}

            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <p>Cordii.T Creative</p>
            <div class="sitemap">
                <a href="/sitemap" target="_blank">Sitemap</a>
            </div>
        </div>
    </footer>
    </div>
</html>