{% extends "base.html" %}
{% block content %}

    <div class="home-dashboard">
        <h2>Dashboard</h2>
        <p>Welcome to Bookings Manager. Your personlised events booking solution. </p>
        <p>The navigational side bar is available throughout the site for quick access.</p>
        <p>Choose from the options below to get started managing your customers and events.</p>
        <div class="container-for-selection">
            <a href="/customers">View Customers</a>
            <a href="/customers/new">Create Customer</a>
            <a href="/events">View Events</a>
            <a href="/events/new">Create Event</a>
        </div>
    </div>
{% endblock %}