{% extends 'base.html' %}
{% block content %}

<h2>Sitemap</h2>
<ul>
    <li>
        <a href="/">Dashboard</a> (homepage)
    </li>
    <li>
        <a href="/customers">View Customers</a>
    </li>
        <ul>
            <li>Action: Go to Customer or Delete Customer</li>
            <ul>
                <li>Actions: Update Customer / Delete Customer</li>
            </ul>
        </ul>
    <li>
        <a href="/customers/new">Create Customer</a>
    </li>
    <li>
        <a href="/events">View Events</a>
    </li>
    <ul>
        <li>Action: See Event</li>
    
        <ul>
            <li>Actions: Update Event Details & Add Customer to Event</li>
        </ul>
    </ul>
    <li>
        <a href="/events/new">Create Event</a>
    </li>
    <li>
        <a href="/bookings">Make a Booking</a>
    </li>
        <ul>
            <li>
                <a href="/customers/new">Create New Customer</a>
            </li>
            <li>
                <a href="/events/new">Create New Event</a>
            </li>
        </ul>
    <li>
        <a href="/events/archived">Archived Events</a>
    </li>

</ul>

{% endblock %}