{% extends 'base.html'%}
{% block content %}
<div>
    <form action="/events/{{event.id}}/edit" method="post">
        <label for="event_title">Event Title:</label>
        <input type="text" id="event_title" name="event_title" value="{{event.event_title}}" required>
        <label for="date">Date:</label>
        <input type="text" id="date" name="date" value="{{event.date}}" required>
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" value="{{event.time}}" required>
        <label for="event_type">Event Type:</label>
        <input type="text" id="event_type" name="event_type" value="{{event.event_type}}">
        <label for="event_type">Event description:</label>
        <input type="text" id="description" name="description" value="{{event.description}}">
        <input type="submit" value="submit">
        
    </form>
</div>

{% endblock %}