{% extends 'base.html'%}
{% block content %}
<div>
    <form action="/events/new" method="post">
        <label for="event_title">Event Title:</label>
        <input type="text" id="event_title" name="event_title" placeholder="Event Title" required>
        <label for="date">Date:</label>
        <input type="text" id="date" name="date" placeholder="01 January 2022" required>
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required>
        <label for="event_type">Event Type:</label>
        <input type="text" id="event_type" name="event_type" placeholder="Event Type/Genre">
        <label for="event_type">Event description:</label>
        <textarea id="description" name="description" rows="10" cols="40" placeholder="What is the event about?"></textarea>
        <input class="button"type="submit" value="submit">
        
    </form>
</div>

{% endblock %}